<%- include("partials/header") %>
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/syllabus.css">
<div class="page-content">

  <h1 class="title">Syllabus Status</h1>
  <div class="divider"></div>

  <!-- ✅ YAHAN ADD KARNA HAI -->
  <div class="tabs">
    <button class="tab-btn" onclick="showTab('psc')">
      CGPSC - <span><%= CGpscProgress || 90 %>%</span>
    </button>

    <button class="tab-btn" onclick="showTab('vyapam')">
      VYAPAM - <span><%= vyapamProgress || 80 %>%</span>
    </button>
  </div>
  
  <div id="CGpscTable" class="table-box"></div>
  <table class="syllabus-table">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Faculty</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Planned</th>
        <th>Executed</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% if (!data || data.length === 0) { %>
        <tr>
          <td colspan="7">No data found</td>
        </tr>
      <% } %>

      <% data.forEach(row => { %>
        <tr>
          <td><%= row["Subject"] %></td>
          <td><%= row["Faculty"] %></td>
          <td><%= row["Start Date"] %></td>
          <td><%= row["End Date"] %></td>
          <td><%= row["No. of classes Planned"] %></td>
          <td><%= row["No. of Classes Executed"] %></td>
          <td><%= row["Status"] %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<!-- table ke baad -->
<script>
  function showTab(tab) {
    document.getElementById("pscTable").style.display = "block";

    document.querySelectorAll(".tab-btn").forEach(btn => {
      btn.classList.remove("active");
    });

    if (tab === "psc") {
      document.querySelectorAll(".tab-btn")[0].classList.add("active");
    } else {
      document.querySelectorAll(".tab-btn")[1].classList.add("active");
    }
  }
</script>

<%- include("partials/footer") %>